<nav class="navbar" style="background-color: #FFF; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);">
  <div class="container-fluid" style="display: flex;     justify-content: flex-end;">



    <ul class="nav justify-content-end">

      <li class="nav-item">
        <a class="nav-link" href="/homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/support">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Đăng ký</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Đăng nhập</a>
      </li>

    </ul>

  </div>
</nav>
