<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>CSS Only Accordion Design</title>
    <link rel="stylesheet" href="./support.component.css" />
  </head>
  <body>
    <section class="contact">
      <div class="content1">
        <h2>Bạn cần sự hỗ trợ của chúng tôi?</h2>
        <p>
          Xin chào và cảm ơn bạn đã ghé thăm trang hỗ trợ của chúng tôi!<br />
          Nếu bạn đang tìm kiếm thông tin về du lịch tại Việt Nam, chúng tôi sẵn
          sàng hỗ trợ bạn trong mọi vấn đề liên quan đến du lịch, bao gồm lịch
          trình, điểm đến, khách sạn, nhà hàng, hoạt động giải trí và nhiều hơn
          nữa.<br />
          Nếu bạn có bất kỳ câu hỏi nào, hãy liên hệ với chúng tôi bằng cách sử
          dụng biểu mẫu liên hệ trên trang web của chúng tôi. Chúng tôi sẽ cố
          gắng trả lời bạn trong thời gian sớm nhất có thể.<br />
          Nếu bạn muốn tìm kiếm thông tin tự do, chúng tôi cũng cung cấp các bài
          viết về các điểm đến du lịch Việt Nam phổ biến và độc đáo, các hoạt
          động giải trí thú vị, những địa điểm ẩm thực hấp dẫn và nhiều hơn nữa.
          Bạn có thể dễ dàng truy cập vào trang web của chúng tôi để tìm kiếm
          thông tin và đóng góp ý kiến của mình.<br />
          Chúng tôi rất mong muốn có thể giúp bạn trải nghiệm một chuyến du lịch
          tuyệt vời tại Việt Nam. Cảm ơn bạn đã ghé thăm trang web của chúng
          tôi!
        </p>
      </div>
      <div class="container1">
        <div class="contactInfo">
          <div class="box">
            <div class="icon"><ion-icon name="navigate-circle"></ion-icon></div>
            <div class="text">
              <h3>Address</h3>
              <p>669 Quốc Lộ 1A <br />Phường Linh Xuân, Thành phố Thủ Đức</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><ion-icon name="call"></ion-icon></div>
            <div class="text">
              <h3>Phone</h3>
              <p>0394071245</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><ion-icon name="mail"></ion-icon></div>
            <div class="text">
              <h3>Email</h3>
              <p>thanhhd20406c@st.uel.edu.vn</p>
            </div>
          </div>
        </div>
        <div class="contactForm">
          <form action="">
            <h2>Gửi tin nhắn cho chúng tôi</h2>
            <div class="inputBox">
              <input type="text" name="" id="" required="required" />
              <span>Họ & Tên</span>
            </div>
            <div class="inputBox">
              <input type="text" name="" id="" required="required" />
              <span>Email</span>
            </div>
            <div class="inputBox">
              <textarea required="required"></textarea>
              <span>Điều bạn muốn nói với chúng tôi...</span>
            </div>
            <div class="inputBox">
              <input type="submit" name="" id="" value="Gửi" />
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
  <body>
    <div class="container2">
      <h1>Những câu hỏi thường gặp?</h1>
      <div class="tab">
        <input type="radio" name="acc" id="acc1" />
        <label for="acc1">
          <h2>01</h2>
          <h3>
            Tôi muốn đăng quảng cáo trên website của bạn, phải làm thế nào?
          </h3>
        </label>
        <div class="content2">
          <p>
            Rất đơn giản! Bạn chỉ cần liên hệ với chúng tôi qua địa chỉ email
            hoặc số điện thoại được cung cấp trên trang web để được hỗ trợ.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc2" />
        <label for="acc2">
          <h2>02</h2>
          <h3>Tôi có thể đặt quảng cáo trên trang nào của website của bạn?</h3>
        </label>
        <div class="content2">
          <p>
            Chúng tôi có nhiều vị trí quảng cáo trên trang web của mình, tùy
            thuộc vào nhu cầu của bạn, chúng tôi sẽ giúp bạn chọn vị trí phù hợp
            nhất.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc3" />
        <label for="acc3">
          <h2>03</h2>
          <h3>
            Tôi phải trả tiền bao nhiêu để đặt quảng cáo trên website của bạn?
          </h3>
        </label>
        <div class="content2">
          <p>
            Chi phí đặt quảng cáo phụ thuộc vào nhiều yếu tố như vị trí quảng
            cáo, thời gian hiển thị, đối tượng khách hàng mục tiêu. Chúng tôi sẽ
            cung cấp cho bạn báo giá chi tiết sau khi nhận được yêu cầu của bạn.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc4" />
        <label for="acc4">
          <h2>04</h2>
          <h3>
            Tôi có thể tùy chỉnh nội dung quảng cáo của mình trên website của
            bạn?
          </h3>
        </label>
        <div class="content2">
          <p>
            Tất nhiên! Bạn có thể tự tùy chỉnh nội dung quảng cáo của mình hoặc
            yêu cầu chúng tôi thực hiện việc đó cho bạn.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc5" />
        <label for="acc5">
          <h2>05</h2>
          <h3>Website của bạn hỗ trợ các loại quảng cáo nào?</h3>
        </label>
        <div class="content2">
          <p>
            Chúng tôi hỗ trợ nhiều loại quảng cáo khác nhau như banner quảng
            cáo, quảng cáo tìm kiếm, quảng cáo mạng xã hội, quảng cáo video và
            nhiều loại quảng cáo khác.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc6" />
        <label for="acc6">
          <h2>06</h2>
          <h3>
            Làm thế nào để theo dõi hiệu quả của quảng cáo trên website của bạn?
          </h3>
        </label>
        <div class="content2">
          <p>
            Chúng tôi cung cấp các báo cáo chi tiết về số lượt nhấp chuột, lượt
            xem, số lần hiển thị và nhiều chỉ số khác để giúp bạn theo dõi hiệu
            quả của quảng cáo của mình.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc7" />
        <label for="acc7">
          <h2>07</h2>
          <h3>
            Tôi phải làm thế nào để thanh toán cho dịch vụ đặt quảng cáo của
            bạn?
          </h3>
        </label>
        <div class="content2">
          <p>
            Chúng tôi hỗ trợ nhiều phương thức thanh toán khác nhau như chuyển
            khoản ngân hàng, thanh toán trực tuyến. Ngoài ra, chúng tôi cũng có
            thể cung cấp hóa đơn cho dịch vụ của bạn nếu bạn yêu cầu. Để biết
            thêm thông tin về cách thanh toán, bạn có thể liên hệ với chúng tôi
            qua email hoặc số điện thoại được cung cấp trên trang web.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc8" />
        <label for="acc8">
          <h2>08</h2>
          <h3>
            Tôi muốn hủy bỏ quảng cáo của mình trên website của bạn, phải làm
            thế nào?
          </h3>
        </label>
        <div class="content2">
          <p>
            Nếu bạn muốn hủy bỏ quảng cáo của mình trên trang web của chúng tôi,
            hãy liên hệ với chúng tôi qua email hoặc số điện thoại để được hỗ
            trợ và xử lý yêu cầu của bạn.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc9" />
        <label for="acc9">
          <h2>09</h2>
          <h3>Trang web của bạn có hỗ trợ khách hàng không?</h3>
        </label>
        <div class="content2">
          <p>
            Chúng tôi có đội ngũ hỗ trợ khách hàng tận tình và chuyên nghiệp.
            Nếu bạn có bất kỳ câu hỏi hoặc thắc mắc nào liên quan đến việc đặt
            quảng cáo trên website của chúng tôi, hãy liên hệ với chúng tôi qua
            email hoặc số điện thoại để được giải đáp.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc10" />
        <label for="acc10">
          <h2>10</h2>
          <h3>
            Trang web của bạn có chính sách bảo mật và điều khoản sử dụng như
            thế nào?
          </h3>
        </label>
        <div class="content2">
          <p>
            Chúng tôi có chính sách bảo mật và điều khoản sử dụng được đăng tải
            công khai trên trang web của chúng tôi. Bạn có thể truy cập vào
            trang web của chúng tôi và đọc kỹ những điều khoản và điều kiện để
            hiểu rõ hơn về cách sử dụng website của chúng tôi và thông tin liên
            quan đến bảo mật dữ liệu của bạn.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
