<div class="waveBackgroundContainer">
  <!-- source wave bg: https://codepen.io/goodkatz/pen/LYPGxQz?editors=1100 -->
  <div class="inner-header flex"></div>
  <!--Waves Container-->
  <div id="waveBackground">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" mlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
</div>

<div class="container">
  <div style="display: flex; flex-direction: column">
    <a class="logo" href="./index.html">
      <div class="logo__imageContainer">
        <img src="./assets/Logo.svg" alt="" />
      </div>
      <span>UEL Daily</span>
    </a>

    <div class="content">
      <div class="loginIlluContainer">
        <img src="./assets/login-illustration.svg" alt="" />
      </div>

      <div class="loginForm">
        <!-- https://github.com/sefyudem/Responsive-Login-Form/blob/master/index.html -->
        <form action="index.html" id="form-sign">
          <div class="formHeading">
            <h1 class="title">Đăng nhập</h1>
            <p>Nếu bạn chưa có tài khoản để đăng nhập</p>
            <span>
              Bạn có thể
              <a href="#" style="color: #0065ff" id="btnRegister">Đăng ký tại đây !</a>
            </span>
          </div>

          <div class="formSection">
            <p class="formSection__Title">Tên đăng nhập</p>

            <div class="formSection__Input">
              <img src="./assets/login-email.svg" alt="" />

              <input id="emailinput" class="formSection__Input--input" type="text" placeholder="stngan32" />
            </div>

            <span class="form-message"></span>
          </div>

          <div class="formSection">
            <p class="formSection__Title">Mật khẩu</p>

            <div class="formSection__Input">
              <img src="./assets/login-pass.svg" alt="" />

              <input id="passinput" class="formSection__Input--input" type="password" placeholder="12345678" />

              <div id="eye" class="centerVertical">
                <i class="far fa-eye"></i>
              </div>
            </div>

            <span class="form-message"></span>
          </div>

          <div class="modifyLogin">
            <div class="centerVertical">
              <input type="checkbox" name="rememberAccount" id="rememberAccount" />
              <label for="rememberAccount" style="margin-left: 5px">
                Lưu tài khoản
              </label>
            </div>

            <a href="#" onclick="alert('relax and try to remember your password')">
              Quên mật khẩu?
            </a>
          </div>

          <!-- <input type="submit" class="btnLogin" value="Login"> -->
          <button class="btn btnLogin" id="btnLogin">Đăng nhập</button>
        </form>
      </div>
    </div>
  </div>
</div>
